
.use-password {
  display: inline-block;
  padding: 0 40px 36px 40px;
  width: 352px;
  height: 265px;

  input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;

    &[type='password'] {
      font-size: 24px;
      letter-spacing: 1.8px;
      color: #1a1a1a;
      -webkit-appearance: none; 
    }
  }

  .submit {
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;

    &:hover {
      background-color: #0077e6;
    }
  }

  .other-types {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    height: 25px;
    line-height: 25px;
    color: #8590a6;

    button {
      border: none;
      outline: none;
      font-size: 14px;
      background-color: #fff;
      color: #8590a6;
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }

    span {
      width: 6%;
      line-height: 25px;
      text-align: center;
    }

    .social-account-list {
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
      width: 80px;

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
