input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 14px;

  &[type='password'] {
    font-size: 24px;
    letter-spacing: 1.8px;
    color: #1a1a1a;
    -webkit-appearance: none; 
  }
}

.by-password-wrap {
  .password {
    position: relative;
    margin-top: 12px;
    border-bottom: 1px solid #ebebeb;
    height: 48px;
  
    .no-password {
      font-size: 14px;
      letter-spacing: normal;
    }
  
    img {
      position: absolute;
      top: 14px;
      right: 0;
      cursor: pointer;
    }

    &.no-password-tip {
      &::before {
        content: '请输入密码';
        position: absolute;
        top: 14px;
        font-size: 14px;
        color: #f1403c;
        background-color: #fff;
        cursor: text;
      }
    }
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    height: 20px;
    line-height: 20px;
    
    .switch-type {
      border: none;
      outline: none;
      font-size: 14px;
      color: #175199;
      background-color: #fff;
      cursor: pointer;
  
      &:hover {
        color: #8590a6;
      }
    }
  
    .plain {
      font-size: 14px;
      color: #8590a6;
      text-decoration: none;
      cursor: pointer;
  
      &:hover {
        color: gray;
      }
    }
  }
}

